{% extends 'base_templates/base.html' %}
{% block content %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Teachers</h2>
                <p>{{ teacher.count }} teacher</p>
            </div>
            {% if user.is_staff %}
                <div>
                    <button style="background-color: red"><a href="{% url 'teacher:new_add' %}">ADD teacher</a>
                    </button>
                </div>
            {% endif %}
            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    {% for tea in teacher %}
                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ tea.image.url }}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <p class="post-category"><a
                                                    href="{% url 'teacher:teacher_detail' tea.id %}">More
                                                information</a></p>
                                            <h3>{{ tea.name }}</h3>
                                            <h4>{{ tea.phone_number }}</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        {{ tea.since }}
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        {{ tea.victories }}
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                    {% endfor %}


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
{% endblock %}