{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Everest education!</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Everest education</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/4317.jpg" rel="icon">
    <link href="../static/assets/img/4317.jpg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/main.css" rel="stylesheet">
</head>
<body>
<section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a
                    href="mailto:contact@example.com">everest@gamil.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+998 951448070</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="https://www.youtube.com/@everest_official" class="youtube"><i
                    class="bi bi-youtube"></i></a>
            <a href="https://www.instagram.com/everest_learning_center/" class="instagram"><i
                    class="bi bi-instagram"></i></a>
            <a href="https://t.me/everestofficial" class="telegram"><i class="bi bi-telegram"></i></a>
        </div>
    </div>
</section>
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="home.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 style="color:blue;">Everest education<span></span></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul style="color:green;">
                <li><a href="{% url 'base:home' %}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'teacher:teacher_' %}">Teachers</a></li>
                <li><a href="{% url 'course:Course_main' %}">Courses</a></li>
                <li class="dropdown"><a href="#"><span>need</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">everest chat</a></li>
                        <li class="dropdown"><a href="{% url 'course:Course_main' %}"><span>Courses</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="{% url 'course:course_name' english %}"></a>english</li>
                                <li><a href="{% url 'course:course_name' russian %}"></a>russian</li>
                                <li><a href="{% url 'course:course_name' korean %}"></a>korean</li>
                            </ul>
                        </li>
                        <li><a href="#ielts">ielts</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'location:location_' %}">locations</a></li>
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>
{% block content %}
{% endblock %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="home.html" class="logo d-flex align-items-center">
                    <span>Everest education</span>
                </a>
                <p>Everest education toshkentdagi yerik o'quv markazlar dan bir bo'lib 2000 ortiq o'quvchisi ielts
                    yutuqlarini qo'lga keridgan , O'qtuvchilari Malakali SINCE 2007</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="{% url 'base:home' %}">Home</a></li>
                    <li><a href="#About">About us</a></li>
                    <li><a href="{% url 'course:Course_main' %}">Courses</a></li>
                    <li><a href="{% url 'location:location_' %}">location</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Courses</h4>
                <ul>
                    <li><a href="">English</a></li>
                    <li><a href="">korean</a></li>
                    <li><a href="">russian</a></li>
                    <li><a href="">math</a></li>
                    <li><a href="">history</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Locations</h4>
                <p>
                    everest chilonzor<br>
                    everest singapuru<br>
                    everest novza<br>
                    everest drujba<br>
                    everest xalqlar do'stligi<br>
                    everest chorsu <br><br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Everest education</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a>Odina Mustafayeva</a>
        </div>
    </div>

</footer>
</body>
</html>