{% extends 'base_templates/base.html' %}

{% block content %}
    <section id="location" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our locations</h2>
                <p>{{ location.count }} location</p>
            </div>

            <div class="row gy-4">
                {% for loca in location %}

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="{{ loca.address.image.url }}" class="img-fluid"
                                 alt="hi">
                            <p class="post-category"><a href="{% url 'location:location_detail' loca.id %}">More
                                information</a></p>
                            <h4>{{ loca.address }}</h4>
                            <span>{{ loca.phone_number1 }}</span>
                            <span>{{ loca.phone_number2 }}</span>
                            <div class="social">
                                <a href="https://t.me/{{ loca.telegram }}/"><i class="bi-telegram"></i></a>
                                <a href="https://www.instagram.com/{{ loca.instagram }}/"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                {% endfor %}


            </div>

        </div>
    </section>

{% endblock %}