<div class="col-md-4 card border">
    <div class="card border mb-4 box-shadow h-50">
        <div class="col-xl-4 col-md-6">
            <article>
                <div class="post-img">
                    <img src="{{ course.image.url }}" alt="hi" class="img-fluid">
                </div>
                <h5 class="card-title custom-title">
                    <b style="color:red;">subject: </b>
                    <a>{{ course.subject }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">Teacher: </b>
                    <a href="{% url 'teacher:teacher_detail' course.teacher_id %}">{{ course.teacher }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">location: </b>
                    <a href="{% url 'location:location_detail' course.teacher.work_id %}">{{ course.teacher.work }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">Level: </b>
                    <a>{{ course.level }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">Since: </b>
                    <a>{{ course.since }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">days: </b>
                    <a>{{ course.daytime }}</a>
                </h5>
                <h5 class="card-title custom-title">
                    <b style="color:red;">student count: </b>
                    <a>{{ student }}</a>
                </h5>

        </div>
        </article>
    </div>
</div>
</div>
