{% extends 'base_templates/base.html' %}
{% block content %}
    <form class="d-flex" role="search" action="{% url 'course:course_search' %}" method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="search"
               placeholder="search courses"
               aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Courses</h2>
                <p>Everest educationdagi kurslar</p>
            </div>

            <div class="row gy-4">
                {% if results %}
                    {% for cour in results %}
                        <div class="col-xl-4 col-md-6">
                            <article>
                                <div class="post-img">
                                    <img src="{{ cour.image.url }}" alt="hi" class="img-fluid">
                                </div>

                                <p class="post-category"><a href="{% url 'course:Course_detail' cour.id %}">More
                                    information</a></p>
                                <h5 class="title">
                                    <b style="color:plum;">Level: </b>
                                    {{ cour.level }}
                                </h5>
                                <h5 class="title" style="color:green;">
                                    <b style="color:plum;">Teacher: </b><a href="
                                        {% url 'teacher:teacher_detail'  cour.teacher_id %}">{{ cour.teacher }}</a>
                                </h5>
                                <h5 class="title">
                                    <b style="color:plum;">Location: </b>
                                    <a href="{% url 'location:location_detail' cour.teacher.work_id %}">{{ cour.teacher.work }}</a>
                                </h5>
                                <p class="post-date">
                                    <b>{{ cour.daytime }}</b>
                                </p>
                            </article>
                        </div><!-- End post list item -->
                    {% endfor %}
                {% else %}
                    <h2>Sorry we didn't find</h2>
                {% endif %}

            </div>
        </div>
    </section><!-- End Recent Blog Posts Section -->


{% endblock %}




