{% extends 'base_templates/base.html' %}
{% block content %}
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Courses</h2>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <h3>Davomiyligi</h3>
                        <p>2 soat </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <h3>gruh</h3>
                        <p>gruhda jami 16-20 o'quvchi bo'ladi , 1-2 o'qtuvchi har bir gruhning uz shart-qoidalari
                            bor</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h3>dars</h3>
                        <p>Darslar malakali ustozlar tomonidan o'qtiladi, tushunarli va manfatli</p>
                    </div>
                </div><!-- End Service Item -->


            </div>

        </div>
    </section>

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Recent Blog Posts</h2>
                <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel
                    architecto
                    accusamus fugit aut qui distinctio</p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="../static/assets/img/blog/img.png" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Elemtry</p>

                        <h2 class="title">
                            <a href="../Course_templates/course-details.html">Dolorum optio tempore voluptas
                                dignissimos</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="../static/assets/img/blog/blog-author.jpg" alt=""
                                 class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">Maria Doe</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jan 1, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="../static/assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Sports</p>

                        <h2 class="title">
                            <a href="../Course_templates/course-details.html">Nisi magni odit consequatur autem nulla
                                dolorem</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="../static/assets/img/blog/blog-author-2.jpg" alt=""
                                 class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">Allisa Mayer</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jun 5, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="../static/assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Entertainment</p>

                        <h2 class="title">
                            <a href="../Course_templates/course-details.html">Possimus soluta ut id suscipit ea ut in
                                quo
                                quia et
                                soluta</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="../static/assets/img/blog/blog-author-3.jpg" alt=""
                                 class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">Mark Dower</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jun 22, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

            </div><!-- End recent posts list -->

            <button href="" class="btn btn-primary mt-5">More --></button>


        </div>
    </section><!-- End Recent Blog Posts Section -->


{% endblock %}
