{% extends 'base_templates/base.html' %}
{% block content %}
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Courses</h2>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <h3>Davomiyligi</h3>
                        <p>2 soat </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <h3>gruh</h3>
                        <p>gruhda jami 16-20 o'quvchi bo'ladi , 1-2 o'qtuvchi har bir gruhning uz shart-qoidalari
                            bor</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h3>dars</h3>
                        <p>Darslar malakali ustozlar tomonidan o'qtiladi, tushunarli va manfatli</p>
                    </div>
                </div><!-- End Service Item -->


            </div>

        </div>
    </section>
    {% if user.is_staff %}
        <div>
            <button style="background-color: red"><a href="{% url 'course:new_add' %}">ADD COURSE</a>
            </button>
        </div>
    {% endif %}

    <form class="d-flex" role="search" action="{% url 'course:course_search' %}" method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="search_course"
               placeholder="search courses with subject name..."
               aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Recent New Courses</h2>
                <p>Everest educationdagi kurslar</p>
            </div>

            <div class="row gy-4">
                {% for cour in course1 %}
                    <div class="col-xl-4 col-md-6">
                        <article>
                            <div class="post-img">
                                <img src="{{ cour.image.url }}" alt="hi" class="img-fluid">
                            </div>

                            <p class="post-category"><a href="{% url 'course:Course_detail' cour.id %}">More
                                information</a></p>
                            <h5 class="title" style="color:green;">
                                <b style="color:plum;">subject: </b><a>{{ cour.subject }}</a>
                            </h5>
                            <h5 class="title">
                                <b style="color:plum;">Level: </b>
                                {{ cour.level }}
                            </h5>
                            <h5 class="title" style="color:green;">
                                <b style="color:plum;">Teacher: </b><a href="
                                        {% url 'teacher:teacher_detail'  cour.teacher_id %}">{{ cour.teacher }}</a>
                            </h5>
                            {#                        <h5 class="title">#}
                            {#                            <b style="color:plum;">Location: </b>#}
                            {#                            <a href="{% url 'location:location_detail' cour.teacher.work_id %}">{{ cour.teacher.work }}</a>#}
                            {#                        </h5>#}
                            <p class="post-date">
                                <b>{{ cour.daytime }}</b>
                            </p>
                        </article>
                    </div><!-- End post list item -->
                {% endfor %}

            </div>
        </div>
    </section><!-- End Recent Blog Posts Section -->


{% endblock %}
